In [1]:
import pandas as pd

## Raw Data

In [5]:
#Importing the datasets
weather_csv = "./csv/Weather_Radar_Stations.csv"
weather_df = pd.read_csv(weather_csv)
weather_df.head()

,X,Y,OBJECTID,siteID,siteName,radarType,antennaElevation
0,-98.413046,45.455833,1,KABR,ABERDEEN,NEXRAD,Unknown
1,-106.823880,35.149722,2,KABX,ALBUQUERQUE,NEXRAD,Unknown
2,-77.007491,36.983889,3,KAKQ,NORFOLK,NEXRAD,Unknown
3,-101.709269,35.233333,4,KAMA,AMARILLO,NEXRAD,Unknown
4,-80.413048,25.610556,5,KAMX,MIAMI,NEXRAD,Unknown