In [2]:
import pandas as pd

## Raw Data

In [3]:
#Importing the datasets
drinks_csv = "./csv/drinks.csv"
drinks_df = pd.read_csv(drinks_csv)
drinks_df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Albania,89,132,54,4760.10
1,Algeria,25,0,14,868.50
2,Andorra,245,138,312,13707.00
3,Angola,217,57,45,6673.05
4,Antigua & Barbuda,102,128,45,4834.05

In [5]:
fat_csv = "./csv/Fat_Supply_Quantity_Data.csv"
fat_intake_df = pd.read_csv(fat_csv)
fat_intake_df.head()

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetable Oils,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
0,Afghanistan,0.0,21.6397,6.2224,0.0,8.0353,0.6859,0.0327,0.4246,6.1244,...,17.0831,0.3593,4.5,29.8,0.102237,0.003794,0.085065,0.013379,38928000.0,%
1,Albania,0.0,32.0002,3.4172,0.0,2.6734,1.6448,0.1445,0.6418,8.7428,...,9.2443,0.6503,22.3,6.2,0.542600,0.014799,0.334743,0.193058,2838000.0,%
2,Algeria,0.0,14.4175,0.8972,0.0,4.2035,1.2171,0.2008,0.5772,3.8961,...,27.3606,0.5145,26.6,3.9,0.119647,0.004060,0.083797,0.031790,44357000.0,%
3,Angola,0.0,15.3041,1.3130,0.0,6.5545,0.1539,1.4155,0.3488,11.0268,...,22.4638,0.1231,6.8,25,0.019574,0.000670,0.008434,0.010470,32522000.0,%
4,Antigua and Barbuda,0.0,27.7033,4.6686,0.0,3.2153,0.3872,1.5263,1.2177,14.3202,...,14.4436,0.2469,19.1,NaN,0.113265,0.003061,0.098980,0.011224,98000.0,%

In [6]:
protein_csv = "./csv/Protein_Supply_Quantity_Data.csv"
protein_intake_df = pd.read_csv(protein_csv)
protein_intake_df.head()

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetables,Miscellaneous,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
0,Afghanistan,0.0000,9.7523,0.0277,0.0,35.9771,0.4067,0.0647,0.5824,3.1337,...,1.1370,0.0462,4.5,29.8,0.102237,0.003794,0.085065,0.013379,38928000.0,%
1,Albania,0.1840,27.7469,0.0711,0.0,14.2331,1.8069,0.6274,1.2757,7.6582,...,3.2456,0.0544,22.3,6.2,0.542600,0.014799,0.334743,0.193058,2838000.0,%
2,Algeria,0.0323,13.8360,0.0054,0.0,26.5633,1.2916,0.6350,1.1624,3.5088,...,3.1267,0.1399,26.6,3.9,0.119647,0.004060,0.083797,0.031790,44357000.0,%
3,Angola,0.6285,15.2311,0.0277,0.0,20.3882,0.1756,5.4436,1.2754,7.6248,...,0.8133,0.0924,6.8,25,0.019574,0.000670,0.008434,0.010470,32522000.0,%
4,Antigua and Barbuda,0.1535,33.1901,0.1289,0.0,10.5108,0.4850,8.2146,1.2586,16.0670,...,1.6024,0.2947,19.1,NaN,0.113265,0.003061,0.098980,0.011224,98000.0,%

In [ ]:
# on the drink csv keep country and total liters column
# on the fat_intak csv select multiple colums 
# on the protein_intake select multple columns

#